@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0px;
  margin: 0px;
  font-family: "Montserrat", sans-serif;
}

body {
  height: 100%;
  width: 100%;
  background-color: black;
}

.dashboard-box {
  display: flex;
  
}
